.button {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-width: 2px;
    border-radius: 0.25rem;
    line-height: inherit;
    background-color: transparent;
    background-image: none;
    transition-duration: 150ms;

    &:hover {
        color: darkorange;
    }

    &:focus {
        outline: none;
    }

    &:active {
        box-shadow: none;
    }
}